.switch-nav {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $grey-5;
    margin-top: 50px;
}

.switch-nav .link {
    margin: 0 10px;
    color: $blue-6;
}
