.wrap {
    width: 900px;
    margin: 20px auto;
    border: 1px solid #ccc;

    display: flex;
}

.wrap nav {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.wrap nav a {
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.wrap nav a.active {
    background-color: orange;
    color: #fff;
}

.wrap .content {
    flex: 1;
    padding: 30px;
}
